.list-item{
    margin-left: 200px;
    padding-right: 200px;
}
.list-item:hover{
    cursor: pointer;
}
.done {
    text-decoration: line-through;
}
.important{
    color: rgb(255, 32, 32);
}
.bi{
    color: red;
    
}
.btn-outline-danger{
    width: 50px;
    margin-right: 5px;
}
.btn-outline-danger:hover .bi{
    color: white;
}