.btn-filter{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.status-group{
    width: 133px;
}
.btn-align{
    margin-right: 5px;
}
.btn-align:last-child{
    margin-right: 0px;
}